<div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <h1 class="text-4xl font-bold mb-8 text-center mt-4">Drivers</h1>
  <div class="flex justify-end mb-8">
    <a routerLink="/drivers/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Driver</a>
  </div>
  <div class="max-w-screen-2xl mx-auto">
    <div class="-mx-4 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
        <div class="flex justify-between bg-gray-200 px-4 py-3">
          <div class="relative w-1/3">
            <input
              type="text"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Search by first name or last name"
              #searchInput
              (input)="searchDrivers(searchInput.value || '')"
            />
            <div class="absolute right-0 top-0 mt-3 mr-4">
              <svg class="fill-current pointer-events-none text-gray-700 w-4 h-4" viewBox="0 0 20 20">
                <path
                  d="M8.93 15.93A7 7 0 1 1 15 8a7 7 0 0 1-6.07 7.93zm6.36-6.36a5 5 0 1 0-7.07-7.07 5 5 0 0 0 7.07 7.07z"
                />
              </svg>
            </div>
          </div>
        </div>
        <table class="min-w-full table-auto bg-gray-100">
          <thead class="bg-gray-200">
          <tr class="text-gray-600 uppercase text-sm">
            <th class="py-3 px-4 text-left" (click)="sortDrivers('id')">ID {{ sortBy === 'id' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}</th>
            <th class="py-3 px-4 text-left" (click)="sortDrivers('firstName')">First Name {{ sortBy === 'firstName' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}</th>
            <th class="py-3 px-4 text-left" (click)="sortDrivers('lastName')">Last Name {{ sortBy === 'lastName' ? (sortOrder === 'asc' ? '▲' : '▼') : '' }}</th>
            <th class="py-3 px-4 text-left">Email</th>
            <th class="py-3 px-4 text-left">Phone Number</th>
            <th class="py-3 px-4 text-center">Actions</th>
          </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-semibold">
          <tr
            *ngFor="let driver of drivers"
            [hidden]="searchTerm && (driver.firstName + ' ' + driver.lastName).toLowerCase().indexOf(searchTerm.toLowerCase()) === -1"
            class="border-b border-gray-200 hover:bg-gray-100"
          >
            <td class="py-4 px-4">{{ driver.id }}</td>
            <td class="py-4 px-4">{{ driver.firstName }}</td>
            <td class="py-4 px-4">{{ driver.lastName }}</td>
            <td class="py-4 px-4">{{ driver.email }}</td>
            <td class="py-4 px-4">{{ driver.phoneNumber }}</td>
            <td class="py-4 px-4 text-center">
              <a routerLink="/drivers/{{ driver.id }}/edit" class="text-indigo-600 hover:text-indigo-900 mr-4">Edit</a>
              <a (click)="deleteDriver(+driver.id)" class="text-red-600 hover:text-red-900">Delete</a>
            </td>
          </tr>
          <tr *ngIf="drivers.length === 0">
            <td colspan="6" class="py-4 px-4 text-center">No drivers found.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
